h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
}

nav, footer{
    margin-top: 30px;
    margin-bottom: 30px;
}

header, footer{
    background-color: hsl(201, 13%, 40%);
    border-radius: 10px;
}

header img{
    display: block;
    max-width: 85vw;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 3%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    background-color: rgb(67, 41, 41);
    border-radius: 10px;
}

a:link{
    color: aliceblue;
}

a:visited{
    color: rgb(126, 107, 82);
}

section{
    display: flex;
    flex-wrap: wrap;

}

article{
    flex: 1;
    padding: 10px;
    margin: 1%;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-color: aquamarine;
}


#banner{
    background-image: url(image/banner.png);
    background-position-y: center;
    background-position: center;
    color: #8d8de5;
    text-align: center;
}

.articleImg{
    border-radius: 10px;
}

.products p {
    text-align: justify;
}

.products:hover {
    border: 3px solid greenyellow;

    .articleImg{
        border: 3px solid green;
    }

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

footer div{
    padding-left: 30px;
    padding-right: 30px;
}



footer img{
    height: 40px;
    padding: 5%;

}